<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org" th:replace="~{layout ::base(~{::body})}">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Recommended Books by Mr.DaiGo</title>
	<!-- Bootstrap CSS -->
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
	<main class="container mt-5">
		<div class="jumbotron text-center">
			<h2>ご利用ありがとうございます。</h2>
			<p class="mt-5">ページが存在しない、または、サーバー側でエラーが発生しました。</p>
			<p>改修まで今しばらくお待ちください。</p>
		</div>
	</main>
</body>

</html>