<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org" th:fragment="base(content)">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Recommended Books by Mr.DaiGo, the mentalist</title>
	<!-- Bootstrap CSS -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
	<link href="https://getbootstrap.jp/docs/5.3/assets/css/docs.css" rel="stylesheet">
	<link rel="stylesheet" th:href="@{/css/style.css}">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body>
	<header class="sticky-top bg-white border-bottom">
		<nav class="navbar navbar-expand-lg bg-body-tertiary">
			<div class="container-fluid">
				<a href="/" class="p-2 nav-link">
					<svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-house" viewBox="0 0 16 16">
					  <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L2 8.207V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V8.207l.646.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.707 1.5ZM13 7.207V13.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V7.207l5-5 5 5Z"/>
					</svg>
					Home
				</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
					data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
					aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse me-auto" id="navbarSupportedContent">
					<ul class="navbar-nav m-2 me-auto">
						<li class="nav-item">
							<a class="nav-link" href="/search">
								書籍登録
							</a>
						</li>
					</ul>
					<form class="d-flex m-2" role="search">
						<input class="form-control" type="search" placeholder="Search" aria-label="Search">
						<button class="btn btn-outline-success" type="submit">Search</button>
					</form>
				</div>
			</div>
		</nav>

	</header>

	<div th:insert="${content}">内容</div>

	<footer class="bg-light border-top d-flex flex-row">
		<div class="m-3">
			<p><a href="/" class="text-dark">Recommended Books by Mr.DaiGo</a></p>
		</div>
		<div class="m-3">
			<ul>
				<li><a href="/about" class="text-dark">このサイトについて</a></li>
				<li><a href="https://daigovideolab.jp/" target="_blank" class="text-dark">Dラボへのリンク(外部サイト)</a></li>
			</ul>
		</div>
	</footer>
</body>

</html>