<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.repository.BookMapper">

	<select id="selectAll"
		resultType="com.example.demo.entity.Book">
		<!-- SELECT title, author, recommended_counts FROM books -->
		SELECT * FROM books
	</select>
	
	<!-- insert -->
	<insert id="insert" parameterType="com.example.demo.entity.Book">
		INSERT INTO books(title, isbn_10, isbn_13, image_url, author, created_at)
		VALUES (#{title}, #{isbn_10}, #{isbn_13}, #{image_url}, #{author}, CURRENT_TIMESTAMP)
	</insert>
</mapper>